{% extends "template_navbar.html" %}

{% block title %}
    Learning & Certifications 
{% endblock %}

{% block main %}
<div id="content" class="container">
    {% for certificate in certificates %}
        <h2> certificate {{loop.index}} </h2>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <!-- date -->
                <div class="col-md-4 mb-3">
                    <label for="date{{loop.index}}">Date</label>
                    <input type="text" class="form-control" id="date{{loop.index}}" name="date"{{loop.index}} value="{{certificate.date}}" >
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- certificate name -->
                <div class="col-md-8 mb-3">
                    <label for="compony{{loop.index}}">Certificate</label>
                    <input type="text" class="form-control" id="certificate_name{{loop.index}}" name="certificate_name{{loop.index}}" value= "{{certificate.certificate_name}}" >
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Description -->
                <div class="col-md-12 mb-3">
                    <label for="description{{loop.index}}">Description</label>
                    <textarea class="form-control" id="description{{loop.index}}" name="description{{loop.index}}" rows="5">{{certificate.description}}</textarea>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                </div>
            </div>
        </form>
    {% endfor %} 
</div>
<div class="container" name = "buttons">
    <button class="btn btn-primary" id="add" type="submit">Add Certificate</button>
    <button class="btn btn-primary" id="save" type="submit">Save</button>
</div>
<script src="../static/js/loadCertificate.js"></script>
{% endblock %}

